/* Style the header with a grey background and some padding */
.header_up
{
    overflow: hidden;
    /* background-color:rgb(34 36 38 / 14%); */
    padding: 12px 10px;
  
}
 
  /* Style the header links */
.header_up a
 {
    float: right;
    color: rgb(202 6 18);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

  /* Change the background color on mouse-over */
.header_up a:hover
 {
    /* background-color: #a5969696; */
    /* border-style: solid; */
    /* border-width: 0vw 0vw 0.5vw 0vw; */
    color: rgb(255, 255, 255);
    background-color: #d23f3f;
    /* border-color:#d33d3d91; */
    padding: 12px 10px;
  }
  .header_up a.active {
    /* background-color: #d0c2c2de; */
    color: #d33d3d91;
    border-color:#d33d3d91;
    border-style: solid;
    border-width: 0vw 0vw 0.5vw 0vw;
  }
  .header_up a.log_out{
    float: left;
    background-color: #d33d3d91;
    color: white;

  }
  .header_up h1{
    float: right;
    color: #d23f3f;
    text-align: center;
    /* padding: 8px; */
    text-decoration: none;
    font-size: 34px;
    line-height: 0vw;
 
  }


 


  